# Editor temporaries
.sw?
.*.sw?
tags
*~

# Executables
/generator_go/lexgen-code
/generator_go/lexgen-tables
/generator_go/parsegen-code
/generator_go/parsegen-tables

/runners/tryast
/runners/trylex
/runners/tryparse
/runners/pemdas-eval
