# Editor temporaries
.sw?
.*.sw?
tags
*~

# Executables
/generator/lexgen-code
/generator/lexgen-tables
/generator/parsegen-code
/generator/parsegen-tables

/runners/tryast
/runners/trylex
/runners/tryparse
/runners/pemdas-eval
