# Editor temporaries
.sw?
.*.sw?
tags
*~

# Executables
/generators/go/lexgen-code
/generators/go/lexgen-tables
/generators/go/parsegen-code
/generators/go/parsegen-tables

/runners/tryast
/runners/trylex
/runners/tryparse
/runners/pemdas-eval
